#Data Types and structures Questions

 1. What are data structures, and why are they important?



```
Data types are specialized formats for organizing, storing, and accessing collections of data.
- They provide efficient ways to manage information based on its characteristics and intended use.
```

 2. Explain the difference between mutable and immutable data types with examples?



```
- Mutable data types are those objects whose elements can be modified.
example : list, set, dictionary.
- Immutable data types are those whose elements can't be modified.
example: tuple, string

```

 3. What are the main differences between lists and tuples in Python?



```
- list is mutable and enclosed in big brackets
while tuple is immutable meaning elements enclosed in curly bracket cannot be modified.
```

 4. Describe how dictionaries store data?



```
dictionary store data in key and value format.
d ={"name":"Abhishek"}
```

 5. Why might you use a set instead of a list in Python?



```
- I will use set instead of list when there is requirement of unique values only.
I can also use when there is need to eliminate duplicates quickly from a list.

- Set can have oparations like union, intersection or difference
```

6.  What is a string in Python, and how is it different from a list?



```
- String is a data type which stores only characters or strings.
- List can store data types like string, int, float, boolean, frozen set, tuple
```

7.  How do tuples ensure data integrity in Python?



```
- Tuples are immutable so it cannot be modified like adding, removing elements once created.

```

8. What is a hash table, and how does it relate to dictionaries in Python?



```
- A hash table is a data structure that stores key-value pairs using a process called hashing.
-It takes a key runs it through a hash function and converts into an index.
- when we look up the key later, the hash function quickly finds the index and
retrieves the value in near- constant time.
```

9.  Can lists contain different data types in Python?



```
Yes, list can contain data types like string, int, float, boolean, set, and list itself
```

10. Explain why strings are immutable in Python?



```
Strings are immutable because we cannot change any letter in the given word or sentence.
```

11.  What advantages do dictionaries offer over lists for certain tasks?



```
- Dictionaries have key- value mapping which gives the clarity.
```

 12. Describe a scenario where using a tuple would be preferable over a list?



```
List is mutable whereas tuples are immutable which means elements cannot be modified.
Therefore, Tuples can be used where we don't want to change the elements like in making user_id.
```

13. How do sets handle duplicate values in Python?





```
Sets remove the duplicate values.

```

 14.  How does the “in” keyword work differently for lists and dictionaries ?



```
- When used with a list, "in" checks if a value is present among the list items.
- In dictionary, "in" checks if a key exists- not the value
```

 15. Can you modify the elements of a tuple? Explain why or why not



```
No, We cannot modify the elements of a tuple because it is immutable.
```

16.  What is a nested dictionary, and give an example of its use case?



```
It is a dictionary within a dictionary.
nested_dict={
  "Abhishek":{"age":23,"weight":70}
  "Shivam": {"age":22,"weight":60}
}
```

17. Describe the time complexity of accessing elements in a dictionary?



```
- It is fast, reason lies in hash table.
- O(1) this means constant time, regardless of the dictionary's size.
```

 18. In what situations are lists preferred over dictionaries?



```
- when it is simple collection of data.
- to store duplicate elements.
- when the sequence matters.
```

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?



```
Before Python 3.7 version, dictionaries are truly unordered but after 3.7 version dictionaries are
ordered by default. However, dictionaries are still technically referred to as unordered collections
because their core mechanish---hashing that doesn't guarantee a fixed order in the same way a list does.
```

20.Explain the difference between a list and a dictionary in terms of data retrieval.



```
- In list elements can be accessed by Index where as in dictionaries elements are accessed by key.
- list is slower --O(n) where as dictionary is fast --O(1)

```

#Practical Questions

1. write a code to create a string with your name and print it.

In [ ]:
name = "Abhishek Pandey"
print(name)

Abhishek Pandey

2. Write a code to find the length of the string "Hello World"

In [ ]:
str1= "Hello World"
len(str1)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
str2= "Python Programming"
str2[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str3= "hello"
str3.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str4= "I like apple"
str4.replace("apple" , "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list_num = [1, 2, 3, 4, 5]
print(list_num)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
num_list = [1, 2, 3, 4]
num_list.append(10)
num_list

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_1.remove(3)
list_1

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
al_list = ['a', 'b', 'c', 'd']
al_list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
rev_list = [10, 20, 30, 40, 50]
rev_list[-1::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple_1 = (100, 200, 300)
print(tuple_1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tup_2 = ('red', 'green', 'blue', 'yellow')
tup_2[1:]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tup_3=(10, 20, 5, 15)
min(tup_3)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tup_4 = ('dog', 'cat', 'rabbit')
tup_4.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tup_5 = ("apple", "kiwi", "orange")
"kiwi" in tup_5

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set_1 ={'a', 'b', 'c'}
print(set_1)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set_2 = {1, 2, 3, 4, 5}
set_2.clear()
set_2

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set_3 = {1, 2, 3, 4}
set_3.remove(4)

In [ ]:
set_3

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1= {1, 2, 3}
s2= {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s1= {1, 2, 3}
s2= {3, 4, 5}
s1 & s2

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dic = {"name":"Abhishek","age":22,"city":"Chandauli"}
print(dic)

{'name': 'Abhishek\n', 'age': 22, 'city': 'Chandauli'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
dic_1 = {'name': 'John', 'age': 25}
dic_1["country"]="USA"

In [ ]:
dic_1

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d1 ={'name': 'Alice', 'age': 30}
d1["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d2["age"]

In [ ]:
d2

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d3 =  {'name': 'Alice', 'city': 'Paris'}
"city" in d3

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lis = ["abhishek", True, 3.4, 4]
tup = ("abhishek", False, 3.4, 4)
dic = {"Name":"Abhishek", "age":22}
print(lis,"\n",tup,"\n",dic)

['abhishek', True, 3.4, 4]
 ('abhishek', False, 3.4, 4)
 {'Name': 'Abhishek', 'age': 22}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [4]:
import random
random_elements =[]
for i in range(5):
  random_elements.append(random.choice(range(1,101)))
print(random_elements)
#print(random_elements.sort())

[63, 62, 69, 28, 4]

In [9]:
random_elements.sort()

In [10]:
random_elements

[4, 28, 62, 63, 69]

28. . Write a code to create a list with strings and print the element at the third index.

In [11]:
str_list= list(input("Enter a string"))
print(str_list[3])

Enter a stringMy name is abhishek
n

29. Write a code to combine two dictionaries into one and print the result.

In [14]:
info1={"name":"abhishek"}
info2={"age":22}
info1.update(info2)
info1

{'name': 'abhishek', 'age': 22}

30. Write a code to convert a list of strings into a set.

In [19]:
l_strs=["abhishek", "aman","shivam", "abhishek"]
con= set(l_strs)

In [20]:
con

{'abhishek', 'aman', 'shivam'}